<!-- Modal for displaying multimedia files -->
<div
  id="{{ type + 'Modal' }}"
  class="modalEntity  roboto-font"
  (swipeleft)="plusSlides(-1)"
  (swiperight)="plusSlides(1)"
>
  <span class="close cursor " (click)="closeEntityModal()">&times;</span>
  <div class="modalEntity-content  d-flex justify-content-center align-items-center">
    <div class="{{ 'my' + type + 'Slides' + ' wh-98' }}" *ngFor="let entity of data; let i = index">
      <app-album-loader
        *ngIf="slideIndex == i + 1"
        sourceUrl="{{ entityUrl }}"
        entityId="{{ entity.id }}"
      ></app-album-loader>
    </div>
  </div>
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
