<div
  class="background container-fluid d-flex align-items-center justify-content-center p-0 flex-column"
>
  <div class="w-min-30 my-4">
    <div class="display-flex w-min-30 justify-content-start">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link {{ selected == 'login' ? 'active' : '' }}"
            (click)="changeSelected('login')"
          >
            Login
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link {{ selected == 'signup' ? 'active' : '' }}"
            (click)="changeSelected('signup')"
          >
            Sign-up
          </a>
        </li>
      </ul>
    </div>

    <div class="display-flex w-min-30 entry-panel py-4 px-2">
      <div [ngSwitch]="selected">
        <app-login *ngSwitchCase="'login'"></app-login>
        <app-sign-up *ngSwitchCase="'signup'"></app-sign-up>
      </div>
    </div>
  </div>
</div>
